<div class="product-area">
  <p>商品名：<%= link_to "#{order.product.name}", product_path(order.product_id) %></p>
  <p>販売者：<%= link_to "#{order.product.user.name}", user_path(order.product.user.id) %></p>
  <p>注文日：<%= l(order.created_at, format: :long) %></p>
  <% if order.product.image? %>
    <%= image_tag order.product.image.url %>
  <% else %>
    <%= image_tag "no_image.jpg", width:"200px", height:"200px", style:" border: 1px solid lightgray"%>
  <% end %>
</div/>
