<% provide(:title, " | 商品購入") %>
<div class="contents-wrapper">
  <div class="container">
    <h2 class="text-center"><%= t("view.product") %>購入</h2>
    <div class="row">
      <% @cart_items.each do |cart_item| %>
        <div class="product-area-short">
          <p>商品名：<%= cart_item.product.name %></p>
          <p>価格：<%= cart_item.product.price %></p>
          <p>個数：<%= cart_item.quantity %></p>
          <% if cart_item.product.image? %>
            <%= image_tag cart_item.product.image.url %>
          <% else %>
            <%= image_tag "no_image.jpg", width:"200px", height:"200px", style:" border: 1px solid lightgray"%>
          <% end %>
        </div>
      <% end %>
    </div>
    <hr/>
    <div class="row">
      <p class="text-center">合計金額：<%= @order.total_price %></p>
      <%= form_for @order do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
          <!-- <div class="form-group">
          <%= f.submit "購入", class: "form-control btn", id: "payment" %>
        </div> -->
          <div style="text-align:center">
            <script type="text/javascript"
              src="https://checkout.pay.jp"
              class="payjp-button"
              data-key="pk_test_27a29b5b4e1e52be694ce6e4">
            </script>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
