<% provide(:title, " | 商品情報変更") %>
<div class="contents-wrapper">
  <div class="container">
    <div class="row">
        <h2 class="text-center">商品情報変更</h2>
      <div class="col-md-offset-4 col-md-4">
        <%= form_for @product do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :category %>
            <%= f.collection_select :category_id, Category.all, :id, :name %>
          </div>

          <div class="form-group">
            <%= f.label :price %>
            <%= f.number_field :price, min: 1, max:999999, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :stock %>
            <%= f.number_field :stock, min: 1, max: 99, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
          </div>

          <div class="form-group">
          <%= f.label :images %>
          <% if @product.images? %>
            <% @product.images.each do |image| %>
              <p><%= image_tag image.url %></p>
            <% end %>
          <% else %>
            <p><%= image_tag "no_image.jpg", width:"200px", height:"200px", style:" border: 1px solid lightgray"%></p>
          <% end %>
          <%= f.file_field :images, multiple: true %>
          </div>

          <%= f.submit "変更", class: "form-control btn-primary btn-block" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
