<% provide(:title, " | 商品登録") %>
<div class="contents-wrapper">
  <div class="container">
    <div class="row">
      <h2 class="text-center"><%= t("view.product") %>登録</h2>
      <div class="col-md-offset-4 col-md-4">
        <%= form_for @product do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= hidden_field_tag :user_id, current_user.id %>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :category %>
            <%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :price %>
            <%= f.number_field :price, min: 1, max:999999, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :stock %>
            <%= f.number_field :stock, min: 1, max: 99, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
          </div>

          <div class="form-group">
          <%= f.label :images %>
          <!-- <%= f.file_field :image %> -->
          <%= f.file_field :images, multiple: true %>
          <p>*この写真がメイン写真になります</P>
          <%= f.file_field :images, multiple: true %>
          <%= f.file_field :images, multiple: true %>
          </div>

          <%= f.submit "登録", class: "form-control btn-primary btn-block" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
