<% provide(:title, " | 商品詳細") %>
<div class="contents-wrapper">
  <div class="container">
    <div class="row">
      <h2 class="text-center"><%= t('view.product') %>詳細</h2>
      <% if @product.stock <= 0 %>
        <h4 class="text-center" style="color:red;font-weight:bold">この商品は現在在庫がないためご購入いただけません</h4>
      <% end %>
      <div class="col-md-offset-1 col-md-3">
        <div class="profile-area">
          <h3><%= t('view.product') %>情報</h3>
          <p>商品名：<%= @product.name %></p>
          <p>商品説明：<%= @product.description %></p>
          <p>価格：<%= @product.price %></p>
          <p>在庫：<%= @product.stock %></p>
          <% if @product.image? %>
            <p><%= image_tag @product.image.url %></p>
          <% else %>
            <p><%= image_tag "no_image.jpg", width:"200px", height:"200px", style:" border: 1px solid lightgray"%></p>
          <% end %>
          <% if current_user?(@product.user) %>
            <p><%= link_to "商品情報変更", edit_product_path %></p>
            <p><%= link_to "商品削除", product_path, method: :delete %></p>
          <% else %>
            <% if @product.stock > 0 %>
              <p><%= link_to "商品購入", new_order_path(product_id: @product.id) %></p>
            <% end %>
            <% if !@product.favorite_users.include?(current_user) %>
            <!-- product_idという名前のparamにproductのidをセットしてアクションへ渡す -->
              <%= link_to favorites_path(product_id: @product.id), method: :post do %>
                <p><i class="far fa-star fa-2x"></i></p>
              <% end %>
            <% else %>
              <%= link_to favorite_path, method: :delete do %>
                <i class="fas fa-star fa-2x"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="commnet-area">
        <h3><%= t('view.comment') %>一覧</h3>
        <% if !@comments.blank? %>
          <%= render @comments %>
        <% elsif %>
          <p>コメントがありません</P>
        <% end %>
        <h3><%= t('view.comment') %>登録</h3>
        <%= form_for @comment do |f| %>
          <%= hidden_field_tag :product_id, @product.id %>
          <%= hidden_field_tag :user_id, current_user.id %>
          <div class="form-group">
            <%= f.label :comment %>
            <%= f.text_area :comment, class: "form-control" %>
          </div>
          <%= f.submit "コメント投稿", class: "form-control btn-primary btn-block" %>
        <% end %>
      </div>
      </div>
      <div class="col-md-3">
        <h3><%= t('view.recommend') %></h3>
        <% if !@recommends.blank? %>
          <%= render @recommends %>
        <% elsif %>
          <p>おすすめがありません</P>
        <% end %>
      </div>
    </div>
  </div>
</div>
