<% provide(:title, " | 商品詳細") %>
<div class="contents-wrapper">
  <div class="container">
    <div class="row">
      <h2 class="text-center"><%= t('view.product') %>詳細</h2>
      <% if @product.stock <= 0 %>
        <h4 class="text-center" style="color:red;font-weight:bold">この商品は現在在庫がないためご購入いただけません</h4>
      <% end %>
      <div class="col-md-offset-1 col-md-3">
        <div class="profile-area">
          <h3><%= t('view.product') %>情報</h3>
          <p>商品名：<%= @product.name %></p>
          <p>商品説明：<%= @product.description %></p>
          <p>価格：<%= @product.price %></p>
          <p>在庫：<%= @product.stock %></p>
          <% if @product.images? %>
            <!-- javascript側へproduct.imagesの配列長さを渡すために設置 -->
            <%= hidden_field_tag :product_images_length, @product.images.length %>
            <p id="main-image"><%= image_tag @product.images[0].url %></p>
            <div class="field">
              <% @product.images.each_with_index do |image, n| %>
                <%= image_tag image.url, style: "width:50px;height:50px;" , id: "sub-image-#{n}"%>
              <% end %>
            </div>
          <% else %>
            <p><%= image_tag "no_image.jpg", width:"200px", height:"200px", style:" border: 1px solid lightgray"%></p>
          <% end %>
          <% if current_user?(@product.user) %>
            <p><%= link_to "商品情報変更", edit_product_path %></p>
            <p><%= link_to "商品削除", product_path, method: :delete %></p>
          <% else %>
            <% if @product.stock > 0 %>
              <!-- <p><%= link_to "商品購入", new_order_path(product_id: @product.id) %></p> -->
              <div class="form-group">
                <%= form_tag(add_item_path, method: :post) do %>
                  <%= hidden_field_tag :product_id, @product.id %>
                  <!-- nilを入れることでvalueを空にする -->
                  <%= number_field_tag :quantity, nil, value: 1, min: 1, max: @product.stock %>
                  <%= submit_tag "カートに入れる", class: "btn btn-primary" , :name => nil %>
                <% end %>
              </div>
            <% end %>
            <% if !@product.favorite_users.include?(current_user) %>
            <!-- product_idという名前のparamにproductのidをセットしてアクションへ渡す -->
              <%= link_to favorites_path(product_id: @product.id), method: :post do %>
                <p><i class="far fa-star fa-2x"></i></p>
              <% end %>
            <% else %>
              <%= link_to favorite_path, method: :delete do %>
                <i class="fas fa-star fa-2x"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="commnet-area">
        <h3><%= t('view.comment') %>一覧</h3>
        <div id="comment">
          <%= render "comments/comment" %>
        </div>
        <%= form_for @comment, remote: true do |f| %>
          <%= hidden_field_tag :product_id, @product.id %>
          <%= hidden_field_tag :user_id, current_user.id %>
          <div class="form-group" id>
            <%= f.label :コメントする %>
            <%= f.text_area :comment, class: "form-control" %>
          </div>
          <%= f.submit "コメント投稿", class: "form-control btn-primary btn-block" %>
        <% end %>
      </div>
      </div>
      <div class="col-md-3">
        <h3><%= t('view.recommend') %></h3>
        <% if !@recommends.blank? %>
          <%= render @recommends %>
        <% elsif %>
          <p>おすすめがありません</P>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var main_image  = document.getElementById("main-image");
  var product_images_length = document.getElementById("product_images_length");
  for (var i = 0; i < product_images_length.value; i++) {
    eval("sub_image_" + i + "=" + "document.getElementById('sub-image-" + i + "')" + ";");
  }
  sub_image_0.addEventListener("click", function() {
    main_image.innerHTML = "<%= escape_javascript(image_tag @product.images[0].url) if !@product.images[0].blank? %>";
  });
  sub_image_1.addEventListener("click", function() {
    main_image.innerHTML = "<%= escape_javascript(image_tag @product.images[1].url) if !@product.images[1].blank? %>";
  });
  sub_image_2.addEventListener("click", function() {
    main_image.innerHTML = "<%= escape_javascript(image_tag @product.images[2].url) if !@product.images[2].blank? %>";
  });
</script>
